@using BusinessServices.ViewModel
@model ProjectViewModel

<div class="modal fade" id="addproject">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addprojectLabel"> Add Employee </h4>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span> X </span>
                </button>
            </div>

            <div class="modal-body">
                <form method="post" asp-action="Edit" asp-controller="ProjectOperations">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Id" />
                        <label asp-for="Name">  </label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BaseUrl">  </label>
                        <input asp-for="BaseUrl" class="form-control" />
                        <span asp-validation-for="BaseUrl"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal"> Update </button>

            </div>

        </div>
    </div>

</div>

